<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <!-- <h5 class="white-text">Company Bio</h5> -->
      <p class="grey-text text-lighten-4">Smart Phones. An extension of ourselves. Portable portals to new worlds. The swiss army knife for the Information Age. This is a tool for the community of collectors. The gathering of geeks. Catalogues and dialogues for smart phone ideologues..</p>


    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Buy More Phones</h5>
      <ul>
        <li><a class="white-text" href="#!">Amazon</a></li>
        <li><a class="white-text" href="#!">Newegg</a></li>
        <li><a class="white-text" href="#!">Ebay</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Connect</h5>
      <ul>
        <li><a class="white-text" href="#!">Email</a></li>
        <li><a class="white-text" href="#!">Github  </a></li>
        <li><a class="white-text" href="#!">Link 3</a></li>
        <li><a class="white-text" href="#!">Link 4</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
  </div>
</div>
</footer>
