<div class="parallax-container">
  <h1>A Game of Phones</h1>
    <div class="parallax">
      <img src="https://boygeniusreport.files.wordpress.com/2018/08/bgr-galaxy-note-9-71.jpg?quality=98&strip=all" >
    </div>
</div>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Phone Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">About</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Sign Up</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%);">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>


  <!-- <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">Navbar Link</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav" style="transform: translateX(-105%);">
          <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav> -->
