<div class="parallax-container">
    <div class="parallax">
      <img src="http://techdissected.com/wp-content/uploads/2014/09/Samsung-Blackjack-II-1.jpg" >
    </div>
</div>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">a game of phones</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">About</a></li>
        <li><a href="badges.html">Login</a></li>
        <li><a href="collapsible.html">Sign Up</a></li>
      </ul>
    </div>
  </nav>
