<div class="parallax-container">
    <div class="parallax">
      <img src="https://img00.deviantart.net/1fdf/i/2015/123/2/3/samsung_blackjack_ii_by_saiogaman-d25f66p.jpg" class="responsive">
    </div>
</div>



<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">A Game of Phones</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">JavaScript</a></li>
    </ul>
  </div>
</nav>
