<div class="parallax-container">
  <h1>A Game of Phones</h1>
    <div class="parallax">
      <img src="https://github.com/TR-1000/aGameOfPhones/blob/master/public/galaxy-note-9-71.jpg?raw=true" >
    </div>
</div>


<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Phone Home</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <% if (typeof currentUser === "undefined" ) { %>
          <ul class="right hide-on-med-and-down">
            <li><a href="/phones/">Collection</a></li>
            <li><a href="/sessions/new">Login</a></li>
            <li><a href="/users/new">Sign Up</a></li>
          </ul>
          <ul class="sidenav" id="mobile-demo">
            <li><a href="/phones">Collection</a></li>
            <li><a href="/sessions/new">Login</a></li>
            <li><a href="/users/new">Sign Up</a></li>
          </ul>
        <% } else { %>
          <ul class="right hide-on-med-and-down">
            <li>Hello, <%=currentUser.username %></li>
            <li><a href="/phones">Collection</a></li>
            <li>
              <form id="logout" action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout" class="waves-effect waves-light btn" />
              </form>
            </li>
          </ul>
          <ul class="sidenav" id="mobile-demo">
            <li><a href="#">Hello, <%=currentUser.username %>!</a></li>
            <li><a href="/phones">Collections</a></li>
            <li>
              <form action="/sessions?_method=DELETE" method="POST">
                <input type="submit" value="Logout" class="waves-effect waves-light btn"/>
              </form>
            </li>
          </ul>
        <% } %>
    </div>
  </nav>
