<div class="parallax-container">
  <h1>A Game of Phones</h1>
    <div class="parallax">
      <img src="https://boygeniusreport.files.wordpress.com/2018/08/bgr-galaxy-note-9-71.jpg?quality=98&strip=all" >
    </div>
</div>



  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">a game of phones</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">About</a></li>
        <li><a href="badges.html">Login</a></li>
        <li><a href="collapsible.html">Sign Up</a></li>
      </ul>
    </div>
  </nav>
