<div class="parallax-container">
  <h1>A Game of Phones</h1>
    <div class="parallax">
      <img src="https://boygeniusreport.files.wordpress.com/2018/08/bgr-galaxy-note-9-71.jpg?quality=98&strip=all" >
    </div>
</div>


  <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Phone Home</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#">About</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Sign Up</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="#">About</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Sign Up</a></li>
    </ul>
