<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <header>
      <% include ./partials/header.ejs %>
    </header>

    <main>
      <div class="container">
        <article class="">
          <h1>A log of smartPhone addiction</h1>
          <p class="home-text">Smart Phones. An extension of ourselves. Portable portals to new worlds. The swiss army knife for the Information Age. This is a collection of an obsession with beautiful screens, high resolution and insane battery life and always looking for the next big thing.</p>
        </article>
      </div>

      <div class="parallax-container">

          <div class="parallax">
            <img src="https://www.droid-life.com/wp-content/uploads/2019/01/History-of-Samsung-Galaxy.jpg" >
          </div>
      </div>
    </main>

    <footer>
      <% include ./partials/footer.ejs %>
    </footer>

    <!-- Scripts -->
    <% include ./partials/scripts.ejs %>
  </body>
</html>
