<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8">
    <title>Phone_Book</title>
  </head>
  <body>
    <header>
      <h1>A Game of Phones</h1>
      <h3>Tenative</h3>


    </header>
    <h1>Phone_Book</h1>
    <h2>A log of smartPhone addiction</h2>

    (each list item should be a link that will take you to a page about the phone with photos and a log entry about the phone)
    <ul>
      <h2>listOfPhones</h2>
      <li>Samsung BlacJack II </li>
      <li>Samsung Epix</li>
      <li>Samsung Propel Pro</li>
      <li>Samsung Galaxy S</li>

    </ul>
  <footer>

    <!-- buy phones and accessories on amazon, newegg, ebay pc  -->
  </footer>
  </body>
</html>
