<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <header>
      <% include ./partials/header.ejs %>
    </header>




    <main>
      <% if (typeof currentUser !== "undefined" ) { %>
        <% if (currentUser.username === phone.owner) { %>
          <h1><%=currentUser.username%>'s Collection</h1>
          <a class="btn" href="/phones/new">Add a phone to your collection</a>
        <% } %>
      <% } %>
    <div class="container index-container">

      <% for (phone of phones) { %>
        <a href="/phones/<%=phone.id%>">
              <h3> <%=phone.name%> </h3>
              <img src="<%=phone.img%>" class="index-img">
        </a>
      <% } %>
      </ul>
    </div>
    </main>



  <footer>
    <% include ./partials/footer.ejs %>
  </footer>


  <!-- Scripts -->
  <% include ./partials/scripts.ejs %>
  </body>
</html>
