<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <header>
      <% include ./partials/header.ejs %>
    </header>
    <a id="mew" href="/phones/new">Add a phone to your collection</a>

    <main>
      <h3>trizzle's smartphone collection</h3>

      <% for (phone of phones) { %>
        <a href="/phones/<%=phone.id%>">
            <div class="container">
              <h3> <%=phone.name%> </h3>
              <img src="<%=phone.img%>" alt="">
            </div>
        </a>
      <% } %>



      </ul>
    </main>



  <footer>
    <% include ./partials/scripts.ejs %>
  </footer>
  <!-- Scripts -->
  <% include ./partials/scripts.ejs %>
  </body>
</html>
