<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <header>
      <% include ./partials/header.ejs %>
    </header>

    <% if (typeof currentUser !== "undefined" ) { %>
      <a id="mew" href="/phones/new">Add a phone to your collection</a>
    <% } %>

    <main>
    <div class="container index-container">
      <% for (phone of phones) { %>
        <a href="/phones/<%=phone.id%>">
              <h3> <%=phone.name%> </h3>
              <img src="<%=phone.img%>" class="index-img">

        </a>
      <% } %>



      </ul>
    </div>
    </main>



  <footer>
    <% include ./partials/footer.ejs %>
  </footer>
  <!-- Scripts -->
  <% include ./partials/scripts.ejs %>
  </body>
</html>
