<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <header>
      <% include ./partials/header.ejs %>
    </header>

    <a href="/phones/<%=phone.id %>">Back</a>

    <div class="container">
      <h1>Add a new phone to your collection</h1>
      <form action="/phones" method="POST">

        <h3>phone name</h3>
        <input type="text" name="name" id="name"> <br>

        <h3>model number</h3>
        <input type="text" name="model" id="model"> <br>

        <h3>main image url</h3>
        <input type="url" name="img" id="img"> <br>

        <h3>gallery images (pictures of your phone)</h3>
        <textarea name="gallery" rows="8" cols="80" placeholder="enter comma-separated values"></textarea> <br>

        <h3>album images (Album of images taken with this phone)</h3>
        <textarea name="album" rows="8" cols="80" placeholder="enter comma-separated values"></textarea> <br>

        <h3>description and specs</h3>
        <textarea name="description" rows="8" cols="80"></textarea> <br>

        <h3>status</h3>
        <input type="text" name="status" id="status" placeholder="daily driver/ sold / traded in/ broken"> <br>

        <h3>accessories</h3>
        <input type="text" name="acc" id="acc" placeholder="enter comma-separated values"> <br>

        <h3>log entry </h3>
        <textarea name="log" rows="8" cols="80" placeholder="What's the story with this phone"></textarea> <br>

        <input type="submit" value="Add Phone"> <br>

      </form>
    </div>

    <footer>

    </footer>




    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
    </script>
      <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script>
      $(document).ready(function(){
        $('.parallax').parallax();
      });

     </script>
  </body>

</html>
