<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <main>
      <% if (typeof currentUser !== "undefined" ) { %>
        <% if (currentUser.username === phone.owner) { %>
          <h1><%=currentUser.username%>'s Collection</h1>
          <a class="btn" href="/phones/new">Add a phone to your collection</a>
        <% } %>
      <% } %>
    <div class="container index-container">

      <% for (phone of phones) { %>
        <a href="/phones/<%=phone.id%>">
              <h3> <%=phone.name%> </h3>
              <img src="<%=phone.img%>" class="index-img">
        </a>
      <% } %>
      </ul>
    </div>
    </main>

  </body>
</html>
