<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a id="mew" href="/phones/new">Add a phone to your collection</a>
    <h1> <%=user.username %></h1>

  </body>
</html>
